body{
  background-color:#E71C23;
  font-size: 20px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.app-title{
  color: aliceblue;
  text-align: center;
  font-style: oblique;
}

.container{
  text-align: center;
  color: aliceblue;
}

.input-text{
  background-color: aliceblue;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
}

.add-btn{
  color: aliceblue;
  background-color: blue;
  border: none;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
}

.btn{
  border: none;
  color: aliceblue;
  background-color: red;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
}

